<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709889896038-q4qolcpcu3ta8f6aah6mbaubnpup43f9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709889896038-q4qolcpcu3ta8f6aah6mbaubnpup43f9</string>
	<key>API_KEY</key>
	<string>AIzaSyDBAunecIZ7Xtx68YQjX2KBycLob1fxb5s</string>
	<key>GCM_SENDER_ID</key>
	<string>709889896038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.softwareCasaProvider.casaProvider</string>
	<key>PROJECT_ID</key>
	<string>casa-50155</string>
	<key>STORAGE_BUCKET</key>
	<string>casa-50155.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709889896038:ios:d1dc6f6a5e6c2658e8c7a7</string>
</dict>
</plist>